<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <div id="<%= dom_id blog %>">
      <p>
        <strong>Title:</strong>
        <%= link_to blog.title, blog %>
      </p>

      <p>
        <strong>Body:</strong>
        <%= blog.body %>
      </p>

      <%= link_to blog.status, toggle_status_blog_path(blog) %>

    </div>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path %>
